<script lang="ts">
import Vue from 'vue';
import TeamOpsQuotesCarousel from './team-ops-quotes-carousel.vue';

export default Vue.extend({
  name: 'TeamOpsJoinUsSection',
  components: {
    TeamOpsQuotesCarousel,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      showTestimonials: false,
    };
  },
});
</script>
<template>
  <section class="team-ops-join-us">
    <div>
      <SlpContainer>
        <SlpRow v-if="showTestimonials" class="slp-align-items-center">
          <SlpColumn :cols="5">
            <TeamOpsQuotesCarousel
              :data="data.quotes"
              :data-aos="data.aos_animation"
              :data-aos-duration="data.aos_duration"
              :data-aos-offset="data.aos_offset"
            />
          </SlpColumn>
          <SlpColumn :cols="1"></SlpColumn>
          <SlpColumn :cols="6">
            <SlpRow class="slp-align-items-center team-ops-join-us__logo-grid">
              <SlpColumn
                v-for="(client, index) in data.clients"
                :key="index"
                :cols="4"
                size="xs"
                class="team-ops-join-us__logo-grid__column"
              >
                <img
                  :src="client.logo"
                  :alt="client.alt"
                  :data-aos="data.aos_animation"
                  :data-aos-duration="data.aos_duration"
                  :data-aos-offset="data.aos_offset"
                />
              </SlpColumn>
            </SlpRow>
          </SlpColumn>
        </SlpRow>
        <SlpRow class="slp-align-items-center">
          <SlpColumn :cols="1"> </SlpColumn>

          <SlpColumn :cols="10">
            <div
              class="team-ops-join-us__spotlight"
              :data-aos="data.aos_animation"
              :data-aos-duration="data.aos_duration"
              :data-aos-offset="data.aos_offset"
            >
              <div class="team-ops-join-us__block">
                <SlpTypography tag="h2" variant="heading2-bold">
                  {{ data.title }}
                </SlpTypography>
                <SlpTypography tag="div" variant="heading5-bold">
                  <div
                    class="team-ops-join-us__description"
                    v-html="$md.render(data.description)"
                  ></div>
                </SlpTypography>
                <SlpButton
                  :href="data.button.href"
                  variant="primary"
                  :data-ga-name="data.button.data_ga_name"
                  :data-ga-location="data.button.data_ga_location"
                  class="slp-mt-24"
                >
                  {{ data.button.text }}
                </SlpButton>
              </div>
            </div>
          </SlpColumn>
          <SlpColumn :cols="1"> </SlpColumn>
        </SlpRow>
      </SlpContainer>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import 'assets/css/animations';
.team-ops-join-us {
  padding: $spacing-48 0 0 0;
  @media (min-width: $breakpoint-lg) {
    padding: $spacing-96 0 0 0;
  }

  &__description {
    margin: $spacing-16 0;
    &:deep p {
      margin: $spacing-32 0;
    }
  }

  &__block {
    background: $color-primary-300;
    border: 2px solid $color-primary-200;
    box-shadow: $spacing-32 $spacing-32 #6d9add;
    border-radius: 0 0 90px 0;
    padding: $spacing-48 $spacing-24 $spacing-64 $spacing-24;
    width: calc(100% - $spacing-32);
    margin-top: $spacing-48;
    @media (min-width: $breakpoint-lg) {
      margin-top: $spacing-64;
      padding: $spacing-96 $spacing-160;
    }
  }
  &__spotlight {
    position: relative;
    padding-bottom: $spacing-96;
    @media (min-width: $breakpoint-lg) {
      padding-bottom: $spacing-96 + $spacing-48;
    }
    & div {
      position: relative;
    }
    &::before {
      content: '';
      display: block;
      width: 100vw;
      height: 75%;
      background: #256ad1;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__list-item {
    display: flex;
  }
  &__logo {
    width: 100%;
    height: 100px;
    background: white;
  }
  &__logo-grid {
    margin-left: -$spacing-16;
    &__column {
      padding: $spacing-16;
      img {
        width: 100%;
        filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg)
          brightness(108%) contrast(108%);
      }
    }
  }
}
</style>
