<script>
import VideoCarousel from '@/components/events/carousel/carousel.vue';

export default {
  name: 'Carousel',
  components: {
    VideoCarousel,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section class="carousel-section">
    <SlpContainer>
      <SlpRow>
        <SlpColumn>
          <SlpTypography tag="h2" variant="heading2-bold">{{
            data.header
          }}</SlpTypography>
          <VideoCarousel :data="data" />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.carousel-section {
  padding: $spacing-96 0 $spacing-24 0;
}
</style>
