<script lang="ts">
import Vue from 'vue';
import { IsMobileMixin } from '../../mixins';
import SideNavigationDropdown from './side-navigation-dropdown.vue';

export default Vue.extend({
  components: { SideNavigationDropdown },
  mixins: [IsMobileMixin],
  props: {
    links: {
      required: true,
      type: Array,
    },
    button: {
      required: false,
      type: Object,
      default: null,
    },
    textLink: {
      required: false,
      type: Object,
      default: null,
    },
    darkMode: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      currentLinkIndex: 0,
      isDarkMode: this.darkMode,
      observer: null,
    };
  },
  beforeDestroy() {
    // Clean up observer to avoid memory leaks
    this.observer?.disconnect();
  },
  mounted() {
    const bottomObserverMargin = (window.innerHeight - 120 - 48) * -1;

    window.addEventListener('load', () => {
      if (!this.isMobile) {
        const sideNav = this.$refs['side-nav-children'].$el;
        const children = Array.from(sideNav.children);

        // Assign new observer to component's observer
        // To use this add a "data-darkmode="true" on your component's tag wrapped by the side-navigation-variant
        this.observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                this.currentLinkIndex = children.findIndex(
                  (item) => item === entry.target,
                );
                this.isDarkMode =
                  entry.target.dataset.darkmode ||
                  entry.target.dataset.slippersScrollDarkmode;
              }
            });
          },
          {
            rootMargin: `-120px 0px ${bottomObserverMargin}px 0px`,
          },
        );
        children.forEach((section) => this.observer.observe(section));
      }
    });
  },
});
</script>

<template>
  <SlpContainer>
    <SlpRow v-if="isMobile" id="side-nav-parent">
      <SideNavigationDropdown :links="links" :button="button || textLink" />
      <slot ref="side-nav-children" />
    </SlpRow>
    <SlpRow v-else id="side-nav-parent">
      <SlpColumn id="side-navigation" :cols="2" class="side-navigation">
        <ul id="side-navigation__wrapper" class="side-navigation__wrapper">
          <li
            v-for="(link, index) in links"
            :key="link.title"
            class="slp-py-8 slp-my-8"
          >
            <SlpTypography
              class="side-navigation__text slp-pb-4"
              :class="{
                'side-navigation__text--hover': index === currentLinkIndex,
                'side-navigation__text--dark': isDarkMode,
                'side-navigation__text--dark-hover':
                  index === currentLinkIndex && isDarkMode,
              }"
              variant="body2"
              tag="a"
              :href="link.href"
              :data-ga-name="link.href.slice('').replace('#', '')"
              data-ga-location="side anchor"
            >
              {{ link.title }}
            </SlpTypography>
          </li>
          <SlpButton
            v-if="button"
            :href="button.url"
            :variant="isDarkMode ? 'secondary' : 'primary'"
            :data-ga-name="button.data_ga_name"
            :data-ga-location="button.data_ga_location"
          >
            {{ button.text }}
          </SlpButton>
          <SlpButton
            v-if="textLink"
            class="side-navigation__text-link"
            :href="textLink.url"
            variant="tertiary"
            :data-ga-name="textLink.data_ga_name"
            :data-ga-location="textLink.data_ga_location"
          >
            {{ textLink.text }}
            <SlpIcon
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </ul>
      </SlpColumn>

      <SlpColumn ref="side-nav-children">
        <slot></slot>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.side-navigation {
  z-index: 100;

  &__wrapper {
    position: sticky;
    margin-top: $spacing-96;
    padding-bottom: $spacing-96;
    width: 100%;
    padding-left: $spacing-8;
    overflow: hidden;
    display: none;
    top: 170px;

    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }

  &__text-link {
    color: $color-text-link-100;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  &__text {
    transition: all 0.25s ease;
    opacity: 0.2;
    font-weight: 700;
    line-height: 12px;
    text-decoration: none;
    color: hsl(257, 27%, 10%);

    &--hover {
      box-shadow: inset 0 -2px 0 0 $color-accent-500;
      opacity: 1;
    }

    &--dark {
      color: $color-surface-400;
      opacity: 1;

      &-hover {
        color: $color-text-50;
      }

      &:hover {
        text-decoration: none;
        color: $color-surface-300 !important;
      }
    }

    &:hover {
      text-decoration: none;
      color: $color-text-300;
      opacity: 1;
    }
  }
}
</style>
