<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import EducationTemplate from '~/components/solutions/templates/education-template.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    EducationTemplate,
  },

  async asyncData({ params, $solutionsEducationService }: any) {
    try {
      const isIndexSlug = !params.education;

      const education = await $solutionsEducationService.getContent(
        `solutions/education${params.education ? `/${params.education}` : ''}`,
        isIndexSlug,
      );

      return { education };
    } catch (e) {
      throw new Error(e);
    }
  },

  head(): MetaInfo {
    return getPageMetadata(
      (this as any).education,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <EducationTemplate :solutions="education" />
</template>
