<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  EventSection,
  FeaturedContent,
  FeaturedSpeaker,
  Intro,
  LightningHero,
} from '../../components/events/index.vue';
import { CONTENT_TYPES } from '../../common/content-types';
import { getClient } from '~/plugins/contentful.js';
import {
  StandardEventData,
  standardEventsDataHelper,
} from '~/services/events/events.service';
import { FooterEditLinkMixin } from '~/mixins';

export default Vue.extend({
  components: {
    LightningHero,
    Intro,
    EventSection,
    FeaturedSpeaker,
    FeaturedContent,
    Conduct,
    NextStep,
  },
  mixins: [FooterEditLinkMixin],

  nuxtI18n: false,
  async asyncData() {
    try {
      const query = await getClient().getEntries({
        content_type: CONTENT_TYPES.EVENT,
        include: 10,
        'sys.id': '3nE6WmWtOYMFk7WJPhmRT6',
      });

      const spaceId = query.items[0]?.sys.space.sys.id;
      const entryId = query.items[0]?.sys.id;
      const entryFields = query.items[0]?.fields;
      const content: StandardEventData =
        await standardEventsDataHelper(entryFields);

      return { content, spaceId, entryId };
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero v-if="content.hero" :data="content.hero" centered />
    <Intro v-if="content.description" :data="content.description" />
    <EventSection
      v-for="(item, index) in content.booth"
      :key="index"
      class="slp-pb-32"
      :data="item"
    />
    <FeaturedSpeaker
      v-for="(session, sessionIndex) in content.sessions"
      :key="sessionIndex"
      :data="session"
    />
    <EventSection
      v-for="socialEvent in content.social"
      :key="socialEvent.header"
      :data="socialEvent"
    />

    <FeaturedContent
      v-if="content.featuredContent"
      :data="content.featuredContent"
    />
    <div v-if="content.footnote">
      <Conduct
        v-for="footnote in content.footnote"
        :key="footnote.header"
        :data="footnote"
      />
    </div>
    <NextStep :variant="content.nextSteps" />
  </div>
</template>
