<script lang="ts">
import { getNavigationClient } from '~/plugins/contentful';
import { NAV_CONTENT_TYPES } from '~/common/content-types';
import { convertToCaseSensitiveLocale } from '~/common/util';

export default {
  name: 'SlpFooterHOC',
  props: {
    contentfulEntryId: {
      type: String,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      footer: {},
    };
  },
  async fetch() {
    const footerEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.FOOTER,
      'sys.id': 'QxdoqHd5ixKTwFjIHYvYI',
      include: 3,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const [footer] = footerEntry.items;

    this.footer = footer;
  },
};
</script>

<template>
  <section>
    <client-only>
      <SlpFooter
        :contentful-footer-data="footer"
        :contentful-entry-url="contentfulEntryId"
      />
    </client-only>
  </section>
</template>
