<script lang="ts">
import NextStep from '~/components/common/next-step.vue';
import { LivePreviewMixin } from '~/mixins';
import { CtfCustomPage, CtfEntry } from '~/models';
import { ContentfulLivePreview } from '@contentful/live-preview';
import * as ContentfulComponents from '../components/contentful';
import SlpNavigationHOC from '~/components/navigation/navigation-hoc.vue';
import NavBanner from '~/components/navigation/nav-banner.vue';
import SlpFooterHOC from '~/components/navigation/footer-hoc.vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '~/common/meta';

export default {
  components: {
    SlpFooterHOC,
    NavBanner,
    SlpNavigationHOC,
    NextStep,
    ...ContentfulComponents,
  },
  mixins: [LivePreviewMixin],
  data() {
    return {
      contentfulData: null,
      sideNavigation: null,
    };
  },
  async fetch() {
    const slug = Object.values(this.$route.params).join('/');

    try {
      const contentfulData: CtfEntry<CtfCustomPage> =
        await this.$contentfulService.getCustomPage(`/${slug}/`);

      this.contentfulData = contentfulData;

      if (this.contentfulData.fields.components) {
        this.sideNavigation = this.$contentfulService.mapSideNavigation(
          this.contentfulData.fields.components,
        );
      }
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    try {
      const metadata = getPageMetadata(
        this.contentfulData?.fields?.seoMetaData?.fields || {},
        this.$route.path,
        this.$nuxtI18nHead({ addSeoAttributes: true }),
      );

      // Add canonical path
      let path;
      if (this.$route.path === '/') {
        path = 'https://about.gitlab.com/';
      } else if (this.$route.path.endsWith('/')) {
        path = `https://about.gitlab.com${this.$route.path}`;
      } else {
        path = `https://about.gitlab.com${this.$route.path}/`;
      }

      // Push canonical path
      metadata.link.push({
        rel: 'canonical',
        href: path,
      });

      // Add lang htmlAttrs
      metadata.htmlAttrs = {
        lang: this.$i18n.locale,
      };

      return metadata;
    } catch (e) {
      throw new Error(e);
    }
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.contentfulData,
        callback: (updatedData) => {
          this.contentfulData = updatedData;
          if (this.contentfulData.fields.components) {
            this.sideNavigation = this.$contentfulService.mapSideNavigation(
              this.contentfulData.fields.components,
            );
          }
        },
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
    refresh();
  },
  beforeMount() {
    init({
      once: true,
    });
  },
};
</script>

<!--
     Dynamic layout used for pages created in Contentful
     Do not add specific logic/components in this template unless it has been decided and approved by the team.
     This template is meant to be dynamic and the content should be rendered only by using dynamic components
-->
<template>
  <div>
    <!-- <HomeTopBanner /> -->
    <NavBanner :current-locale="$i18n.locale" />
    <SlpNavigationHOC />
    <!--Contentful Content Start-->
    <SlpContainer v-if="contentfulData">
      <Hero :data="contentfulData.fields" />
      <template v-if="contentfulData.fields.activateSideMenu && sideNavigation">
        <SlpSideNavigation :data="sideNavigation">
          <section
            v-for="(component, i) in contentfulData.fields.components"
            :key="i"
          >
            <component
              :is="component.fields.componentName"
              :data="component.fields"
            />
          </section>
        </SlpSideNavigation>
      </template>
      <template v-else>
        <section
          v-for="(component, i) in contentfulData.fields.components"
          :key="i"
        >
          <component
            :is="component.fields.componentName"
            :data="component.fields"
          />
        </section>
      </template>
      <NextStep v-show="contentfulData.fields.hasNextStepComponent" />
    </SlpContainer>
    <!--Contentful Content End-->
    <SlpFooterHOC />
  </div>
</template>
