<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { LocalizedHrefMixin } from '../mixins';
import SlpNavigationHOC from '../components/navigation/navigation-hoc.vue';
import NavBanner from '~/components/navigation/nav-banner.vue';
import SlpFooterHOC from '~/components/navigation/footer-hoc.vue';

export default Vue.extend({
  components: {
    SlpFooterHOC,
    SlpNavigationHOC,
    NavBanner,
  },
  mixins: [LocalizedHrefMixin],
  data() {
    return {
      footer: {},
      contentfulEntryUrl: '',
    };
  },
  head() {
    let path;
    if (this.$route.path === '/') {
      path = 'https://about.gitlab.com/';
    } else if (this.$route.path.endsWith('/')) {
      path = `https://about.gitlab.com${this.$route.path}`;
    } else {
      path = `https://about.gitlab.com${this.$route.path}/`;
    }
    return {
      link: [
        {
          rel: 'canonical',
          href: path,
        },
      ],
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  created() {
    this.$nuxt.$on('contentfulIds', (data) => {
      const { spaceId, entryId } = data;
      if (spaceId !== undefined && entryId !== undefined) {
        this.contentfulEntryUrl = `https://app.contentful.com/spaces/${spaceId}/entries/${entryId}`;
      }
    });
  },
  beforeMount() {
    this.validateIndexFiles();
    this.addSearchListener();

    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
  methods: {
    validateIndexFiles() {
      if (this.$route.path.endsWith('index.html')) {
        const queryParams = this.$route.query;
        const oldPath = this.$route.path.replace(/(\W*index\.html\W*)/g, '');
        this.$router.replace({
          path: `${oldPath}/`,
          query: queryParams,
        });
      }
    },
    addSearchListener() {
      document.addEventListener('navSearch', (event) => {
        this.$router.push({
          path: '/search',
          query: { searchText: event.detail.searchText },
        });
      });
    },
  },
});
</script>

<template>
  <div>
    <!-- <HomeTopBanner /> -->
    <NavBanner :current-locale="$i18n.locale" />
    <SlpNavigationHOC />
    <section ref="localizedContainer">
      <Nuxt role="main" />
    </section>
    <SlpFooterHOC :contentful-entry-id="contentfulEntryUrl" />
  </div>
</template>
