<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Hero,
  Highlights,
  LearnMore,
  Letter,
  Showcase,
} from '../components/environmental-social-governance/index.vue';
import { getPageMetadata } from '~/common/meta';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { LivePreviewMixin } from '~/mixins';

export default Vue.extend({
  components: {
    Hero,
    Letter,
    Highlights,
    Showcase,
    LearnMore,
  },
  nuxtI18n: false,
  mixins: [LivePreviewMixin],
  async asyncData({ $environmentalSocialGovernanceService }: any) {
    try {
      const { esg, items } =
        await $environmentalSocialGovernanceService.getContent();
      return { esg, items };
    } catch (e) {
      throw new Error(e);
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).esg, this.$route.path);
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: async (updatedData) =>
          (this.esg =
            await this.$environmentalSocialGovernanceService.transformContentfulData(
              updatedData,
            )),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>

<template>
  <div id="esg-wrapper">
    <Hero v-if="esg.hero" v-bind="esg.hero" />
    <Letter v-if="esg.letter" v-bind="esg.letter" />
    <Highlights v-if="esg.highlights" v-bind="esg.highlights" />
    <Showcase v-if="esg.showcase" v-bind="esg.showcase" />
    <SlpContainer v-if="esg.learn_more" variant="gradient">
      <LearnMore v-bind="esg.learn_more" />
    </SlpContainer>
  </div>
</template>
<style lang="scss" scoped>
#esg-wrapper {
  overflow-x: clip;
}
</style>
