<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '../common/meta';

import { Features } from '../components/solutions/ai/index.vue';
import { TabbedCaseStudies } from '../components/home/index.vue';
import {
  Benefits,
  Hero,
  StudyCard,
  TableLegend,
} from '@/components/platform/index.vue';
import { NextStepAlt, ReportCta } from '@/components/common/index.vue';
import CategoriesTable from '@/components/common/categories-table.vue';

export default Vue.extend({
  name: 'Platform',
  components: {
    NextStepAlt,
    CategoriesTable,
    ReportCta,
    Hero,
    Features,
    TabbedCaseStudies,
    StudyCard,
    Benefits,
    TableLegend,
  },
  async asyncData({ $content, i18n }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      const data = await $content(locale, `platform`).fetch();
      const categoriesObject = await $content('synced/categories').fetch();
      const stageObject = await $content('synced/stages').fetch();
      return { data, locale, categoriesObject, stageObject };
    } catch (e) {
      throw new Error(e);
    }
  },
  data() {
    return {
      table: {
        plan: [],
        create: [],
        verify: [],
        secure: [],
        package: [],
        deploy: [],
        monitor: [],
        govern: [],
      },
      isLoading: true,
    };
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).data,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
  created() {
    this.isLoading = true;
    this.setTableData(this.categoriesObject, this.stageObject);
  },
  mounted() {
    this.isLoading = false;
  },
  methods: {
    setTableData(categoriesObject, stageObject) {
      Object.entries(stageObject.stages).forEach(([stageName, stageValue]) => {
        Object.entries(stageValue.groups).forEach(([_, groupValue]: any) => {
          Object.entries(groupValue.categories).forEach(
            ([_, categoryName]: any) => {
              const category = categoriesObject[categoryName];

              if (
                category &&
                this.table[stageName] &&
                category.maturity &&
                category.marketing !== false
              ) {
                this.table[stageName].push({
                  name: category.name,
                  stage: stageName,
                  documentation: null,
                  direction: null,
                  marketing_page: null,
                  maturity: category.maturity,
                });
              }
            },
          );
        });
      });
    },
  },
});
</script>

<template>
  <div class="platform-page">
    <section class="hero">
      <Hero :data="data.hero" />
    </section>
    <section class="table-section">
      <div v-show="isLoading === false">
        <CategoriesTable :table="table" :has-icons="true" />
        <SlpContainer class="table-footer">
          <TableLegend />
          <SlpButton
            variant="tertiary"
            :href="data.table.footer_link"
            :data-ga-name="data.table.footer_data_ga_name"
            :data-ga-location="data.table.footer_data_ga_location"
            >{{ data.table.footer_text }}
            <SlpIcon name="chevron-lg-right" variant="product" class="slp-ml-8"
          /></SlpButton>
        </SlpContainer>
      </div>
    </section>
    <Benefits :data="data.benefits" />
    <StudyCard :data="data.study_card" />
    <SlpContainer>
      <TabbedCaseStudies v-bind="data.quotes_carousel_block" />
      <Features v-bind="data.features" />
    </SlpContainer>
    <ReportCta :data="data.report_cta" />
    <section class="cards">
      <SlpContainer>
        <div class="card-grid">
          <a
            v-for="card in data.cards"
            :key="card.text"
            class="minimal-card"
            :href="card.link.href"
            :data-ga-name="card.link.data_ga_name"
            :data-ga-location="card.link.data_ga_location"
          >
            <div>
              <SlpIcon
                variant="marketing"
                :name="card.icon"
                hex-color="171321"
              /><SlpTypography variant="body2" tag="p">{{
                card.type
              }}</SlpTypography>
            </div>
            <SlpTypography class="card-text" variant="body1" tag="p">{{
              card.text
            }}</SlpTypography>
            <SlpButton variant="ghost"
              >{{ card.cta || ' Learn more '
              }}<SlpIcon variant="product" name="chevron-lg-right"
            /></SlpButton>
          </a>
        </div>
      </SlpContainer>
    </section>

    <NextStepAlt :current-locale="locale" />
  </div>
</template>

<style lang="scss" scoped>
.platform-page {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
.table-section {
  padding: 0 0 $spacing-64 0;
  background: $color-surface-700;
  color: $color-text-50;
  position: relative;
  width: 100%;

  &:deep {
    .table {
      border: 1px solid $color-surface-600;
      border-radius: 8px;
      padding: 24px 0;
    }
    .stage-name {
      font-size: $text-body-2-bold;
      line-height: $line-height-body-2-bold;
      font-weight: $font-weight-bold;
      position: relative;
      padding-top: $spacing-4;
      padding-bottom: $spacing-24;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .slp-icon {
      color: $color-surface-50;
      align-self: center;
    }

    .column {
      height: 100%;
    }

    .features {
      padding: $spacing-16;
      border-top: 1px solid $color-surface-600;

      a,
      p {
        font-size: $text-body-3;
        line-height: $line-height-body-3;
        margin-bottom: $spacing-8;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .mature,
    .existing,
    .early {
      color: $color-accent-400;
      font-weight: $font-weight-bold;
    }

    .planned {
      color: $color-text-50;
      font-weight: $font-weight-bold;
    }
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      width: 100%;
    }

    .slp-btn-tertiary {
      color: $color-text-50;
    }
  }
}

.cards {
  .card-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $spacing-96 0;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      padding: $spacing-64 0;
    }
  }

  .minimal-card {
    max-width: 350px;
    min-height: 272px;
    width: 100%;
    background: $color-surface-50;
    border-radius: 8px;
    border: 1px solid #eee7fd;
    padding: $spacing-32 $spacing-16;
    transition: border-radius 0.3s ease-in;

    &:hover {
      border-radius: 8px 8px 90px 8px;
    }

    @media (max-width: $breakpoint-md) {
      margin-bottom: $spacing-24;
    }

    button {
      padding-left: 0;
    }

    div {
      display: flex;

      p {
        margin-left: $spacing-8;
        color: $color-text-300;
      }
    }

    .card-text {
      color: $color-text-300;
      margin-top: $spacing-24;
      margin-bottom: $spacing-64;
    }

    .slp-btn-ghost {
      color: inherit;
      font-weight: $font-weight-bold;

      .slp-icon {
        margin-left: $spacing-8;
      }
    }
  }
}
</style>
