<script lang="ts">
import Vue from 'vue';
import { CtfCard } from '../../models/content-types.dto';

export default Vue.extend({
  name: 'Card500',
  props: {
    card: {
      type: Object as () => CtfCard,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpColumn :cols="4" class="card">
    <img class="image" :src="`${card.image.fields.file.url}?w=350`" />
    <div class="card__wrapper">
      <SlpIcon :name="card.iconName" variant="marketing" size="md" />
      <SlpTypography class="slp-my-8" tag="h5" variant="heading5-bold">
        {{ card.title }}
      </SlpTypography>
      <SlpTypography tag="p" variant="body1">
        {{ card.subtitle }}
      </SlpTypography>
      <SlpButton
        class="slp-mt-32"
        :variant="card.button.fields.variation"
        :href="card.button.fields.externalUrl"
      >
        {{ card.button.fields.text }}
        <SlpIcon
          name="chevron-lg-right"
          variant="product"
          hex-color="#171321"
          alt="Chevron Right Icon"
        />
      </SlpButton>
    </div>
  </SlpColumn>
</template>

<style lang="scss" scoped>
.card {
  background: #f6f3fe;
  border-radius: 4px;
  flex: 1 1 0;

  &__wrapper {
    padding: $spacing-32;
  }
}
.image {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 210px;
  object-fit: cover;
}
</style>
