<script lang="ts">
import Vue from 'vue';
import DemoCard from './demo-card.vue';
import { CtfCardGroup } from '../../models/content-types.dto';
import SeriesHeader from './series-header.vue';

export default Vue.extend({
  name: 'UpcomingDemoSeries',
  components: { DemoCard, SeriesHeader },
  props: {
    cardGroup: {
      type: Object as () => CtfCardGroup,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SeriesHeader :header="cardGroup.header">
      <DemoCard
        v-for="entry in cardGroup.card"
        :key="entry.fields.title"
        :title="entry.fields.title"
        :date="entry.fields.subtitle"
        :is-disabled="entry.fields.button.fields.disabled"
        :button="entry.fields.button.fields"
      />
    </SeriesHeader>
  </SlpContainer>
</template>
